body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #2A2033, #212121, #3F3945);
}



/* Começo do Header */
header {
  display: flex;
  justify-content: space-around; /* Espaçamento ao redor dos itens no header */
  align-items: center;
  background-color: #2A2033;
  padding: 2em;
  border: 1px solid white;
  
}


a {
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  margin-right: 40px; 
  transition: color 0.4s ease;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
}



a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: white; 
  transition: width 0.4s ease;
  bottom: -2px; 
  left: 0;
}

a:hover::after {
  width: 100%; 
}

.mini-foto {
  border: 1px solid white;
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
}

.mini-container {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.perfil-header {
  display: flex;
  align-items: center; 
  gap: 10px; 
  
}

.perfil-header > h2 {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
}



/*Final do header*/

/*Começo do main*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.texto-com-imagem {
  display: flex;
  align-items: center; 
  text-align: left; 
}

.perfil-img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  margin-right: 20px; 
}

.frase {
  position: absolute; 
  color: white;
  text-align: center;
  z-index: 1; 
}

.frase > h1 {
  font-size: 3em;
  margin: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
}

.frase > p {
  font-size: 1.5em;
  margin: 10px 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
}

.img-main {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
  z-index: 0; /* Mantém a imagem no fundo */
}

.sobre_mim {
  background-color: #212121;
}

.container-sobre > h1 {
  display: flex;
  justify-content: center;
  padding: 2em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
}

p, h1, h2 {
  color: white;
}

h1 {
  font-size: 3em;
}

.texto-me {
  padding: 2em; /* Ajuste o padding conforme necessário */
}

.texto-me > p {
  color: black;
  text-align: justify;
  padding: 0 2em;
}


.texto-me > h2 {
  font-size: 2em;
  color: black;
  text-align: center;
  padding-bottom: 20px;
}

.caixa {
  display: flex;
  flex-direction: row; /* Alinha a foto e o texto lado a lado */
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.822);
  margin: 0 10%;
  padding: 50px;
  border-radius: 10px;
  flex-wrap: wrap; /* Torna o conteúdo responsivo */
}

.foto_minha img {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Faz a imagem ficar redonda */
  object-fit: cover;
}

.cards {
  background-color: antiquewhite;
  width: 15em;
  height: 15em;
  border: 1px solid white;
  display: flex;
  margin: 10px;
}

.curiosidades {
  flex-direction: initial;
  display: flex;
}

@media (max-width: 436px) {
  .texto-me {
    padding: 16px; /* Ajuste o padding no mobile */
  }
  .texto > h1{
    font-size: medium;
    padding-left: 70px;
  }
  
}

@media (max-width: 768px) {
  .texto-me {
    padding: 1em; /* Ajuste o padding no mobile */
  }
  .texto > p {
    padding-left: 6em;
  }
  
}

@media (max-width: 768px) {
  .texto-com-imagem {
    flex-direction: column;
    align-items: center; 
  }

  .perfil-img {
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

@media (max-width: 768px) {
  .caixa {
    flex-direction: column; 
    text-align: center;
  }

  .texto-me {
    padding-left: 0;
  }

  .texto-me > p {
    padding: 0;
  }

  .foto_minha img {
    margin-bottom: 20px;
  }
}

/*Final do main*/

/*Começo do footer*/
/*Final do footer*/